@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-synthesis: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@font-face {
    font-family: 't-rex-bold';
    src: url('/fonts/t-rex-bold.otf');
}

@font-face {
    font-family: 't-rex-regular';
    src: url('/fonts/t-rex-regular.otf');
}

@font-face {
    font-family: 'rader-bold';
    src: url('/fonts/PPRader-Bold.otf');
}

@font-face {
    font-family: 'rader-regular';
    src: url('/fonts/PPRader-Regular.otf');
}
